.about{
  height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: flex-end;
  @media(max-width: 1500px){
    height: 75vh;
  }
  @include tablets{
    min-height: 650px;
  }
}
.about__content{
  max-width: 640px;
}
.about__text{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
  background: black;
}
#to-return{
  font-size: 30px;
  padding-bottom: 60px;
}
