#wrapper{
  background-color:rgb(0, 0, 0)
}
.canvas--wrapper{
  height: 70vh;
}
.plane {
  /* define the size of your plane */
  width: 80%;
  height: 80vh;
  margin: 10vh auto;
}
.plane img {
  /* hide the img element */
  display: none;
}
.first{
  height: 100vh;
}
.intro{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin: 0 auto 0 auto;
  h1{
    width: 100%;
  }
}
nav{
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
  position: relative;
  transition: all 1s ease;
}
  #to-works, #to-return, #to-about, #to-contacts, #to-skills{
    font-size: 30px;
    width: fit-content;
    position: relative;
    transition: all .7s ease;
    &:before{
      content: '';
      opacity: 0;
      width: 10px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 18px;
      left: -20px;

    }
    &:hover{
      margin-left: 25px;
      &:before{
        animation: opacitys .5s ease;
        animation-delay: .3s;
        animation-fill-mode: forwards;

      }
    }
    @media(max-width: 1300px){
      font-size: 20px;
    }
  }



@keyframes opacitys {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.hello{
  font-family: 'ShareTechMono';
  font-size: 49px;
  min-width: 300px;
}

