
.canvas--wrapper{
  height: 70%;
  padding-top: 15px;
}

.first{
  height: 100%;
}
.intro{
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 0 auto;
  max-width: 600px;
  padding: 0 20px;
  h1{
    width: 100%;
  }
  @include phones{
    height: auto;
  }
}
nav{
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
  position: relative;
  transition: all 1s ease;
}
  #to-works, #to-about, #to-contacts,{
    font-size: 30px;
    width: fit-content;
    position: relative;
    transition: all 1s ease;
    &:before{
      content: '';
      position: absolute;
      bottom: -5px;
      right: 0;
      width: 0;
      height: 3px;
      transition: width 1s cubic-bezier(0.25, 1, 0.5, 1);

    }
    @include phones{
      font-size: 20px;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover::before{
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }

#to-about{
  &:before{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
}
#to-contacts{
  &:before{
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
#to-works{
  &:before{
    background: #30E8BF;
    background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);
    background: linear-gradient(to right, #FF8235, #30E8BF);
  }
}

@keyframes opacitys {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.hello{
  font-family: 'ShareTechMono';
  font-size: 49px;
  min-width: 300px;
}
@include phones{
  .first {
    .intro {
      height: auto;
    }
  }
}
