.background{
  max-width: 1200px;
}
.first{
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  height: 100vh;
}
.intro{
  margin-top: 250px;
  h1{
    width: 600px;
  }
}
nav{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  height: 180px;
  justify-content: space-between;
  position: relative;
  transition: all 1s ease;
  a{
    font-size: 30px;
    width: fit-content;
    position: relative;
    transition: all .5s ease;
    &:before{
      content: '';
      opacity: 0;
      width: 10px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 18px;
      left: -20px;
    }
    &:hover{
      margin-left: 20px;
      &:before{
            animation: opacity .5s ease;
            animation-delay: .3s;
            animation-fill-mode: forwards;
          }
    }
  }

}

@keyframes opacity {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes going {
  0%{right: 0px;}
  100%{right: -20px;}
}
@keyframes going-out {
  0%{right: -20px;}
  100%{right: 0px;}
}
.hello{
  width: 590px;
  height: 100px;
  font-family: 'ShareTechMono';
  font-size: 49px;
}

